 <div class="col-md-12" align="justify" style="padding: 20px">
  <h4>PROCESO DE GESTION RECAUDACION	</h4>	<hr>	
	 
	   <!--
	 
	  <img src="../../kimages/p1.png"/>  
	     <a style="font-size: 15;font-weight: 550" href="../../kservicios/view/ven_especies" title="CERTIFICACION">PUNTO DE RECAUDACION ESPECIES  </a> <br><br> 
	 
    -->
	  
	 
	    <img src="../../kimages/p1.png"/>  
	     <a style="font-size: 15;font-weight: 550" href="../../kservicios/view/ren_punto" title="CERTIFICACION">PUNTO DE RECAUDACION   </a> <br><br> 
		 <img src="../../kimages/p2.png" />
	     <span style="font-size: 15;font-weight: 550"> <a href="../../kservicios/view/ren_cierre" title="COMPROMISO"> CIERRE DE CAJA  </a> </span><br> <br> 
	 
	
	     
</div>	