
<div class="grid-container">
	<a href="_mi_presupuesto" class="grid-item menu-item">
		<i class="fa fa-money fa-lg"></i>
		<span>PRESUPUESTO DE MI UNIDAD</span>
	</a>
	<a href="_misbienes" class="grid-item menu-item">
		<i class="fa fa-list-alt"></i>
		<span>MIS BIENES ASIGNADOS</span>
	</a>
	<a href="_mipersonal" class="grid-item menu-item">
		<i class="fa fa-user"></i>
		<span>INFORMACIÓN PERSONAL TTHH</span>
	</a>
	<a href="_misgastospersonal" class="grid-item menu-item">
		<i class="fa fa-usd"></i>
		<span>GASTOS PERSONALES</span>
	</a>
	<!-- <a href="_micombustible" class="grid-item menu-item">
		<i class="fa fa-truck"></i>
		<span>REGISTRO DE COMBUSTIBLE</span>
	</a> -->
	<a href="requerimiento_a" class="grid-item menu-item">
		<i class="fa fa-calculator"></i>
		<span>SOLICITUD DE ANTICIPO</span>
	</a>
	<!-- <a href="requerimiento_p" class="grid-item menu-item">
		<i class="fa fa-calendar"></i>
		<span>SOLICITUD DE PERMISOS</span>
	</a> -->
	<a href="requerimiento_b" class="grid-item menu-item">
		<i class="fa fa-cubes"></i>
		<span>SOLICITUD DE BODEGA</span>
	</a>
</div>

<!-- <ul class="pager"> -->

	<!-- <div class="col-md-12" style="padding: 5px"> -->
		<!-- <li><a style="color:#000000" href="_mi_presupuesto"> <i class="fa fa-money"></i> PRESUPUESTO DE MI UNIDAD</a></li> -->
		<!-- <li style="font-weight: 800"><a style="color:#000000" href="../../kplanificacion/view/POASeguimientoUni.php">EJECUTAR POA </a></li> -->
		<!-- <li><a style="color:#000000" href="../../kplanificacion/view/PACSeguimientoUni.php">VISOR PAC UNIDAD</a></li> -->
	<!-- </div> -->

	<!-- <div class="col-md-12" style="padding: 5px">

		<li><a style="color:#000000" href="_misbienes"><i class="fa fa-list-alt"></i> MIS BIENES ASIGNADOS</a></li>
		<li><a style="color:#000000" href="_mipersonal"><i class="fa fa-user"></i> INFORMACIÓN PERSONAL TTHH</a></li>
		<li><a style="color:#000000" href="_micombustible"><i class="fa fa-truck"></i> <b>REGISTRO DE COMBUSTIBLE</b></a></li>
	</div>

	<div class="col-md-12" style="padding: 5px">
		<li><a style="color:#000000" href="requerimiento_a"><b><i class="fa fa-usd"></i> SOLICITUD DE ANTICIPO</b></a></li>
		<li><a style="color:#000000" href="requerimiento_p"><i class="fa fa-calendar"></i> SOLICITUD DE PERMISOS</a></li>
		<li><a style="color:#000000" href="requerimiento_b"><i class="fa fa-cubes"></i> SOLICITUD DE BODEGA</a></li>
	</div> -->

	<!-- <div class="col-md-12" style="padding: 5px">

		<li><a style="color:#000000" href="_validar_certificadom.php">VALIDAR CERTIFICADO MEDICO</a></li>
		<li><a style="color:#000000" href="_mishojas"><b>HOJA DE RUTA/ACTIVIDADES</b></a></li>

	</div> -->


	<!-- <div class="col-md-12" style="padding: 5px"> -->

		<!-- <li><a style="color:#000000" href="viatico_pedido"><i class="glyphicon glyphicon-plane"></i> SOLICITUD DE VIATICOS</a></li> -->

		<!-- <li><a style="color:#000000" href="_misgastospersonal"><i class="glyphicon glyphicon-usd"></i> GASTOS PERSONALES</a></li> -->

<!-- 
	</div>
</ul> -->
