  
		 
		 
		     <div class="col-md-4" align="center">
	     <img src="../../kimages/catastro.png" width="150" height="160"/>  <a href="_misbienes"> <b>Bienes Asignados </b></a>
		 </div>	 

		<div class="col-md-4"  align="center">
		  <img src="../../kimages/admini.png" width="150" height="160"/> <b>Presupuesto Unidad</b>
		 </div>	


		<div class="col-md-4"  align="center">
				  <img src="../../kimages/presupuesto.png" width="150" height="160"/> <a href="_mipersonal"> <b>Información Personal TTHH</b></a>
		</div>	
 


		   <div class="col-md-4"  align="center">
		  <img src="../../kimages/planificacion.png" width="150" height="160"/>  <a href="_micombustible"><b> Registro de Combustible</b></a>
		 </div>	

 		
		 

		
 
		<div class="col-md-4"  align="center">
		  <img src="../../kimages/conta.png" width="150" height="160"/> <a href="_misgastospersonal"><b>Mis Gastos Personales</b></a>
		 </div>	