 <div class="col-md-12" align="justify"  >
	 
	 
	 
  <h4>PROCESO DE GESTION FINANCIERA	</h4>	 
	 
	 <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 10px;font-weight: 550">
  <tbody>
    <tr>
      <td colspan="3" align="center" valign="middle"><span class="col-md-12" style="padding: 20px"><img src="../../kimages/p1.png"/></span></td>
      </tr>
    <tr>
      <td align="center"  width="33.33%" valign="middle"><a style="font-size: 11px;font-weight: 550;color: #099700" href="../../kpresupuesto/view/certificacion" title="CERTIFICACION">1. Requerimiento</a></td>
      <td align="center"  width="33.33%" valign="middle"><a style="font-size: 11px;font-weight: 550;color: #099700" href="../../kpresupuesto/view/compromiso" title="COMPROMISO">2. Compromiso</a></td>
      <td align="center"  width="33.33%" valign="middle"><a style="font-size: 11px;font-weight: 550;color: #099700" href="../../kcontabilidad/view/co_xpagar" title="DEVENGADO">3. Devengado</a></td>
    </tr>
    <tr>
      <td align="center" valign="middle"><a style="font-size: 11px;font-weight: 550;color: #099700" href="../../kpresupuesto/view/certificacion" title="CERTIFICACION">Certificación </a></td>
      <td align="center" valign="middle"><a style="font-size: 11px;font-weight: 550;color: #099700" href="../../kpresupuesto/view/compromiso" title="COMPROMISO"> Presupuestario</a></td>
      <td align="center" valign="middle"><a style="font-size: 11px;font-weight: 550;color: #099700" href="../../kcontabilidad/view/co_xpagar" title="DEVENGADO">Cuentas por Pagar </a></td>
    </tr>
    <tr>
      <td colspan="3" align="center" valign="middle"><span class="col-md-12" style="padding: 20px"><img src="../../kimages/p2.png" /></span></td>
      </tr>
    <tr>
      <td  align="center" valign="middle"><a style="font-size: 11px;font-weight: 550;color:#DDBB00" href="../../ktributacion/view/comprasc" title="PAGADO">4. Comprobantes de Retención</a></td>
      <td  align="center" valign="middle"><a style="font-size: 11px;font-weight: 550;color:#DDBB00" href="../../kventas/view/te_pagos" title="PAGADO"> 5. Registro de Pagado</a></td>
      <td  align="center" valign="middle"><a style="font-size: 11px;font-weight: 550;color:#DDBB00" href="../../kventas/view/te_spi" title="GENERACION SPI">6. Generación de Trasfer</a></td>
    </tr>
    <tr>
      <td  align="center" valign="middle"><a style="font-size: 11px;font-weight: 550;color:#DDBB00" href="../../ktributacion/view/comprasc" title="PAGADO"> Tributación</a></td>
      <td  align="center" valign="middle"><a style="font-size: 11px;font-weight: 550;color:#DDBB00" href="../../kventas/view/te_pagos" title="PAGADO">Comprobantes de Pago</a></td>
      <td  align="center" valign="middle"><a style="font-size: 11px;font-weight: 550;color:#DDBB00" href="../../kventas/view/te_spi" title="GENERACION SPI">Pago SPI</a></td>
    </tr>
    <tr>
      <td colspan="3" align="center" valign="middle"><span class="col-md-12" style="padding: 20px"><img src="../../kimages/p3.png" /></span></td>
      </tr>
    <tr>
      <td  align="center" valign="middle"><a style="font-size: 11px;font-weight: 550;color:#8F0709" href="../../kcontabilidad/view/co_analisis" title="ESTADOS FINANCIEROS">Estados Financieros</a></td>
      <td  align="center" valign="middle"><a style="font-size: 11px;font-weight: 550;color:#8F0709" href="../../kpresupuesto/view/reportes" title="ESTADOS FINANCIEROS">Cedulas Presupuestarias</a></td>
      <td  align="center" valign="middle">&nbsp;</td>
    </tr>
    <tr>
      <td  align="center" valign="middle"><a  style="font-size: 11px;font-weight: 550;color:#8F0709"  href="../../kcontabilidad/view/co_analisis" title="ESTADOS FINANCIEROS">Envio información Finanzas</a></td>
      <td  align="center" valign="middle"><a  style="font-size: 11px;font-weight: 550;color:#8F0709"  href="../../kpresupuesto/view/reportes" title="ESTADOS FINANCIEROS">Ingreso/Gasto</a></td>
      <td  align="center" valign="middle">&nbsp;</td>
    </tr>
    <tr>
      <td align="center" valign="middle">&nbsp;</td>
      <td align="center" valign="middle">&nbsp;</td>
      <td align="center" valign="middle">&nbsp;</td>
    </tr>
  </tbody>
</table>
	 <br> <br> 
			 
	     
</div>	