  

 
<ul class="pager">
	
	<div class="col-md-12" style="padding: 5px">
 		  <li><a style="color:#000000" href="_mi_presupuesto">PRESUPUESTO DE LA UNIDAD</a></li>
		  <li style="font-weight: 800"><a style="color:#000000" href="../../kplanificacion/view/POASeguimientoUni.php">EJECUTAR POA  </a></li>
		  <li><a style="color:#000000" href="../../kplanificacion/view/PACSeguimientoUni.php">VISOR PAC UNIDAD</a></li>
    </div>
	
	<div class="col-md-12" style="padding: 5px">
 			
			<li><a style="color:#000000" href="_misbienes">BIENES ASIGNADOS</a></li>
		    <li><a style="color:#000000" href="_mipersonal">PERSONAL TTHH</a></li>
			<li><a style="color:#000000" href="_micombustible"><b>REGISTRO DE COMBUSTIBLE</b></a></li>	
	  </div> 
	
	<div class="col-md-12" style="padding: 5px">
		  <li><a style="color:#000000" href="requerimiento_a"><b>SOLICITUD DE ANTICIPO</b></a></li>
		  <li><a style="color:#000000" href="requerimiento_p">SOLICITUD DE PERMISOS</a></li>	
 	 	  <li><a style="color:#000000" href="requerimiento_b">SOLICITUD DE BODEGA</a></li>
   </div> 
		
	<div class="col-md-12" style="padding: 5px">
		
		<li><a style="color:#000000" href="_validar_certificadom.php">VALIDAR CERTIFICADO MEDICO</a></li>	
		<li><a style="color:#000000" href="_mishojas"><b>HOJA DE RUTA/ACTIVIDADES</b></a></li>	
  	
	 </div> 	
	
	
		<div class="col-md-12" style="padding: 5px">
			
				 <li><a style="color:#000000" href="viatico_pedido">SOLICITUD DE VIATICOS</a></li>	
			
	 		    <li><a style="color:#000000" href="_misgastospersonal">GASTOS PERSONALES</a></li>	
 			
			
		 </div> 	
</ul>

 