@page { margin: 130px 50px 150px 50px; }


@font-face {
  font-family: Times;
  font-style: normal;
  font-weight: normal;
 }

body {
  position: relative;
  width: 17cm;  
  margin: 0 auto; 
  color: #001028;
  background: #FFFFFF; 
  font-family:  Times;
font-size: 10px;
}

.padding {
  padding: 30px 0;
}


h1 {
  color: #5D6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align:center;
}


    
	#header { position: fixed; left: 0px; top: -110px; right: 0px; height: 110px; background-color:#FFFFFF; text-align: center; }
	
    #footer { position: fixed; left: 0px; bottom: -125px; right: 0px; height: 70px; background-color:#FFFFFF; }
	
    #footer .page:after { 
	/*	content: counter(page, upper-roman); */
		counter-increment: section;
        content: "Pag " counter(section) " ";
	
	}

	.round3 {
    border: 1px solid #767676;
    border-radius: 5px;
    }

.col-md-12 {
    width: 100%;
	position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
	
.tabla {
 	 border: #767676 1px solid;
	 margin: 3px;	
	 padding: 3px;
  	}
	.tablaTotal {
 	 margin: 3px;	
	 padding: 3px;
  	}

   .cabecera_font {
 	 font-size: 11px;
	 font-family:Arial, sans-serif; 
	 color:#353535;
  	}
	
	
	.tablaPie {
 	 border: #767676 1px solid;
	 margin: 25px;	
	 padding: 25px;
  	}
	.tablaPie1 {
 	 border: #767676 1px solid;
	 margin: 3px;	
	 padding: 3px;
  	}

.tablap {
 	 border: #767676 1px solid;
	 margin: 3px;	
	 padding: 3px;
	 border-collapse: collapse;
  	}

 
	.lado {
 	 border: #767676 1px solid;
	 margin: 1px;	
	 padding: 1px;
	 border-collapse: collapse;
  	}