@charset "utf-8";
/* CSS Document */


         
		html {
			  margin: 0;
			}
			body {
			  font-family: verdana, sans-serif;
			  color: #000;
			  margin: 10mm 8mm 2mm 8mm; 
			}
			.nombre{
					border-bottom: 1px solid cornsilk;
					font-size: 24px;
					font-family: Courier, "Courier new", monospace;
					font-style: italic;
				}
		    .encabezado{
				border="0"
             }
			 table {
				border-collapse: collapse;
		 		width: 100%
			  }
			  td {
				   border-width: 0.1em;
				   padding: 0.2em;
 			  }
			  td.solid  { 
				  border-style: solid; 
				  color:black;
				 border-width:thin
		      }
			 
		.datos{
			font-size: 8px;
			font-family: verdana, sans-serif;
			font-weight:normal; 
			 
		}
		.titulo{
			font-size: 9px;
			padding: 2px;
		}

   .cabecera_font {
 	 font-size: 10px;
	 font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	 color:#606060;
  	}
		div.full { border:thin blue solid; margin:2pt;}

		div.partialthinsolid,
		div.partial1,
		div.partial2 { border:thin solid; margin:2pt;}

		div.partial1 { border-color:black; }
		div.partial2 { border:blue;}

		div.partial3 { border-style:dashed; }
		div.partial4 { border-width:thick; }
		div.partial5 { border-width:medium; }
		div.partial6 { border-width:3pt; }

		div.partial1top,
		div.partial2top { border-top:thin solid; margin:2pt;}

		div.partial1top {border-top-color:green; }
		div.partial2top {border-top:blue;}
		 
		hr {
				page-break-after: always;
				visibility: hidden;
			}