  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	
	
  <link rel="stylesheet" href="../../app/themes/alertify.core.css" />
 	
   <link rel="stylesheet" href="../../app/themes/alertify.default.css" />    
        	
 	
   <script type="text/javascript" src="../../app/lib/alertify.js"></script>

 	
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>


<script src="../../app/js/bootstrap3-typeahead.min.js"></script>  
	
 
<script type="text/javascript" src="../../HTML/js/plugins/tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="../../HTML/js/plugins/tables/jquery.sortable.js"></script>
<script type="text/javascript" src="../../HTML/js/plugins/tables/jquery.resizable.js"></script>

<script type="text/javascript" src="../../HTML/js/plugins/forms/jquery.autosize.js"></script>
<script type="text/javascript" src="../../HTML/js/plugins/forms/jquery.uniform.js"></script>
<script type="text/javascript" src="../../HTML/js/plugins/forms/jquery.inputlimiter.min.js"></script>
<script type="text/javascript" src="../../HTML/js/plugins/forms/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="../../HTML/js/plugins/forms/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="../../HTML/js/plugins/forms/jquery.autotab.js"></script>
 <script type="text/javascript" src="../../HTML/js/plugins/forms/jquery.ibutton.js"></script>
<script type="text/javascript" src="../../HTML/js/plugins/forms/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="../../HTML/js/plugins/forms/jquery.validationEngine.js"></script>

<script type="text/javascript" src="../../HTML/js/plugins/uploader/plupload.js"></script>
<script type="text/javascript" src="../../HTML/js/plugins/uploader/plupload.html4.js"></script>
<script type="text/javascript" src="../../HTML/js/plugins/uploader/plupload.html5.js"></script>
<script type="text/javascript" src="../../HTML/js/plugins/uploader/jquery.plupload.queue.js"></script>

<script type="text/javascript" src="../../HTML/js/plugins/wizards/jquery.form.wizard.js"></script>
<script type="text/javascript" src="../../HTML/js/plugins/wizards/jquery.validate.js"></script>
<script type="text/javascript" src="../../HTML/js/plugins/wizards/jquery.form.js"></script>

<script type="text/javascript" src="../../HTML/js/plugins/ui/jquery.collapsible.min.js"></script>
<script type="text/javascript" src="../../HTML/js/plugins/ui/jquery.breadcrumbs.js"></script>
<script type="text/javascript" src="../../HTML/js/plugins/ui/jquery.tipsy.js"></script>
 <script type="text/javascript" src="../../HTML/js/plugins/ui/jquery.fileTree.js"></script>
 
<script type="text/javascript" src="../../HTML/js/plugins/others/jquery.fullcalendar.js"></script>
 
<script type="text/javascript" src="../../HTML/js/plugins/forms/jquery.mousewheel.js"></script>
<script type="text/javascript" src="../../HTML/js/plugins/ui/jquery.easytabs.min.js"></script>
<script type="text/javascript" src="../../HTML/js/files/bootstrap.js"></script>
<script type="text/javascript" src="../../HTML/js/files/functions.js"></script>

<script type="text/javascript" src="../../HTML/js/files/functions_blank_no_sidebar.js"></script>
 